.about-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  margin-top: 50px;
  background-color: rgb(232, 239, 250);

  .about-image {
      background-size: cover;
      background-position: center;
      margin-right: 25px;
  }

  .about-bio {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 100px 0px;
      font-size: 2em;
  }
}

@media(max-width: 1020px) {
  .about-page-wrapper {
    display: flex;
    flex-direction: column;
  } 
  .about-image {
   display: none;
  }
}