body {
  background-color: rgb(232, 239, 250);
}

html {
  font-size: 62.5%; // 1rem is 10px
}

.app {
  margin-top: 2rem;
  display: grid;
  justify-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}