html {
  font-size: 62.5%; // 1rem is 10px
}

.app {
  margin-top: 2rem;
  display: grid;
  justify-items: center;
}

.app-wrapper {
  background-image: url("../../static/assets/images/auth/light-honeycomb.jpg");
  position: absolute;
  width: 100%;
  background-attachment: fixed;
  height: 100%;
  overflow: auto;
}