.the-blog {
    padding: 0px 150px;
}

.blog-item-list {
    margin: 40px 0px;
    a {
        color: $blue;
    }

    a:hover {
        text-decoration: none;
        color: $blue-hover;
    }

    h1 {
        font-size: 4.5em;
        font-weight: 700;
    }
}

#blog-detail-page {
    height: 100vh;
    padding: 0px 150px;
  }

h1 {
    padding-bottom: 15px;
    font-weight: 700;
}

.blog-title-detail {
    color: $blue;
    font-size: 5em;
    padding: 0px;
    font-weight: 700;
}

.author {
    color: $blue-hover;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 2em;
}

.content {
    align-self: center;
    font-size: 2.2em;
    padding: 50px 0px;
}

@media(max-width: 1020px) {
    .the-blog, #blog-detail-page {
      padding: 0px 50px;
    } 
    .blog-item-list h1, .blog-title-detail {
      font-size: 3em;
    }
}


