.contact-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 430px);
  padding-top: 100px;


  .contact-image {
      background-size: cover;
      background-position: center;
      width: 550px;
  }
  .right-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .bullet-point-group {
      display: flex;
      align-items: center;

      .icon {
      font-size: 3em;
      color: $teal;
      }

      .text {
      font-size: 3em;
      font-weight: 900;;
      margin-left: 21px;
      }
  }
}