.contact .container {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    padding: 0px 20%;
}

.contact-btn-wrapper {
    display: flex;
    justify-content: center;
}

.contact-btn {
    height: 55px;
    font-size: 2em;
    font-weight: 500;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
    background-color: $blue;
    color: white;
    width: 140px;
    border-radius: 2px;

    &:hover {
        background-color: $blue-hover; 
    }

    &:focus {
        outline: none;
    }
}

.form-group {
    input {
        height: 45px;
        font-size: 2em;
    }

    textarea {
        font-size: 2em;
    }
}

.message {
    font-size: 2.5em;
    text-align: center;
    color: $charcoal;
}
